* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
#main {
  max-width: 800px;
  height: 80vh;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
  color: rgba(0, 255, 255, 1);
}
#hobies{
    color: rgba(255,0,255,0.8);
}