* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 400px;
  height: 200px;
  background: lightblue;
  padding: 40px;
  display: flex 1;
}
h1 {
  padding-bottom: 10px;
  justify-content: center;
}
