* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

#container {
  width: 400px;
  margin: 60px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#inputcontainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#input_task {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#addBtn {
  padding: 10px 15px;
  background: #03bbf8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addBtn:hover {
  background: #0299cc;
}
.actions {
  display: flex;
  gap: 6px;
}

li input {
  flex: 1;
  padding: 6px;
  margin-right: 6px;
}

.actions button:first-child {
  background: orange;
}

.actions button:last-child {
  background: red;
}

li {
  list-style: none;
  padding: 10px;
  margin-bottom: 8px;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  grid-auto-rows: auto;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 3px;
}
